body{background-color: black; color: white;

}
h1{font-size: 5em;
    text-align: 5em;
background-image:url(fundo2.png);  
background-repeat:no-repeat ;
background-position: center;
color: transparent;
background-clip: text;
}
p{color: rgb(255, 0, 157);}
img{width: 60vh;}

